fieldset:disabled {
    background-color: white !important;
}

fieldset {    
    box-shadow: 0px 0px 1px rgb(0, 0, 0) !important;
    border-radius: 5px !important;
}

.field-error {
    color: red;
    font-size: 0.8rem;
}


  