<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{default.html}">

<head>
    <title>index</title>
</head>

<body>


    <th:block layout:fragment="content">

        <div class="col-8 d-flex justify-content-center align-items-baseline">

            <div class="alert alert-info d-flex" role="alert">

                <i class="bi bi-info-circle"></i>

                <div class="ms-3">
                    To create a new patient, click on right button "Create". To display informations of a
                    patient, you have
                    just to click on his row.
                </div>
            </div>

            <div class="ms-auto p-2 ">
                <button id="btn-creation-patient" type="button" class=" btn btn-primary " onclick="toggleFormPatient()"
                    th:text="${#maps.isEmpty(fieldsOnError)}?'Add new patient':'Cancel'"></button>
            </div>
        </div>

        <div id="patient-creation-div" class="col-8" th:style="${#maps.isEmpty(fieldsOnError)}?'display: none':''">

            <form id="form-patient" th:action="@{/patient}" method="post" th:object="${patientToCreate}">

                <fieldset class="pt-1 px-3 shadow  mb-3 mt-3 bg-white rounded-4">

                    <div class="row">
                        <legend class="text-primary fs-5 pt-2 mb-3"><ins>Fill in personal informations:</ins></legend>
                    </div>

                    <div class="row g-3">

                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3 field-patient">
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" th:field="*{lastName}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'lastName')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'lastName')} "
                                    th:text="${fieldsOnError['lastName']}" class="field-error"></li>
                            </ul>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3 field-patient">
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" th:field="*{firstName}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'firstName')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'firstName')} "
                                    th:text="${fieldsOnError['firstName']}" class="field-error"></li>
                            </ul>
                        </div>

                        <div class="col-xl-3 col-lg-8 col-md-8 mb-3 field-patient">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" th:field="*{dateOfBirth}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'dateOfBirth')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'dateOfBirth')} "
                                    th:text="${fieldsOnError['dateOfBirth']}" class="field-error"></li>
                            </ul>
                        </div>

                        <div class="col-xl-1 col-lg-4 col-md-4 mb-3 ">
                            <label for="genre" class="form-label">Genre</label>
                            <select class="form-select" th:field="*{genre}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'genre')}?'is-invalid':''">
                                <option selected th:value="M" th:text="M"></option>
                                <option th:value="F" th:text="F"></option>
                            </select>
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'genre')} "
                                    th:text="${fieldsOnError['genre']}" class="field-error"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row g-3">

                        <div class="col-xl-8 col-md-8 col-sm-12 col-xsm-12 mb-3 field-patient">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" th:field="*{address}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'address')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'address')} "
                                    th:text="${fieldsOnError['address']}" class="field-error"></li>
                            </ul>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-12 mb-3 field-patient">
                            <label for="phoneNumber" class="form-label">phoneNumber</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'phoneNumber')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'phoneNumber')} "
                                    th:text="${fieldsOnError['phoneNumber']}" class="field-error"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row p-3 justify-content-center">
                        <button type="submit" class="col-1 col-md-2 col-sm-3 btn btn-primary">Create</button>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-8 table-responsive mt-3">

            <table id="patient-table" class="table table-sm table-hover ">

                <caption style="display:none;">List of all patients</caption>

                <thead>
                    <tr>
                        <th class="d-none"></th>
                        <th>#</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>DateOfBirth</th>
                        <th>Genre</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th class="text-end pe-3">Update/Delete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="patient,iterator : ${patientPages.content}" style="cursor:pointer;"
                        th:patientId="${patient.id}" onclick="rowClicked(this.getAttribute('patientId'))">
                        <td th:text="${patient.id}" class="d-none"></td>
                        <td th:text="${iterator.index + (patientPages.number)*10 }"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.dateOfBirth}"></td>
                        <td th:text="${patient.genre}"></td>
                        <td th:text="${patient.address}?:'-'"></td>
                        <td th:text="${patient.phoneNumber}?:'-'"></td>
                        <td class="text-end">
                            <div class="d-flex flewx-nowrap justify-content-end m-1">
                                <a th:href="@{/patient-record/}+${patient.id}+'?update=true'" type="button"
                                    class="btn btn-sm btn-outline-success me-3">Update</a>
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                    th:urlPatientToDelete="'/delete-patient/' +${patient.id}"
                                    onclick="myEventHandler(event);deletePatient(this.getAttribute('urlPatientToDelete'));">Delete</button>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link"
                            th:href=" @{/(page=0,size=${patientPages.size})}">&laquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            th:href="${patientPages.number>0}? @{/(page=${patientPages.number -1},size=${patientPages.size})}:''">Previous</a>
                    </li>

                    <th:block id="page-number-list" th:if="${#lists.size(pageNumbers) <= 10 }"
                        th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/(page=${pageNumber -1},size=${patientPages.size})}"
                                th:text="${pageNumber}"
                                th:classAppend="${pageNumber==patientPages.number+ 1} ? active"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${#lists.size(pageNumbers) >10 }"
                        th:with="totalOfPages =${#lists.size(pageNumbers)},currentPage = ${patientPages.number}">

                        <th:block th:if="${currentPage <5 || currentPage> totalOfPages-6 }">
                            <p id="page-number-list" th:each="index: ${#numbers.sequence(1,5)}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/(page=${index-1},size=${patientPages.size})}"
                                        th:text="${index}" th:classAppend="${index == currentPage +1} ? active"></a>
                                </li>
                            </p>
                            <li class="page-item">
                                <a class="page-link">...</a>
                            </li>
                            <p id="page-number-list" th:each="index: ${#numbers.sequence(totalOfPages-4,totalOfPages)}">

                                <li class="page-item">
                                    <a class="page-link" th:href="@{/(page=${index-1},size=${patientPages.size})}"
                                        th:text="${index}" th:classAppend="${index==currentPage+1} ? active"></a>
                                </li>
                            </p>
                        </th:block>

                        <th:block th:if="${currentPage >=5 && currentPage <= totalOfPages-6 }">
                            <li class="page-item">
                                <a class="page-link">...</a>
                            </li>
                            <p id="page-number-list" th:each="index: ${#numbers.sequence(currentPage-2,currentPage+4)}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/(page=${index-1},size=${patientPages.size})}"
                                        th:text="${index}" th:classAppend="${index == currentPage+ 1} ? active"></a>
                                </li>
                            </p>
                            <li class="page-item">
                                <a class="page-link">...</a>
                            </li>
                        </th:block>

                    </th:block>

                    <li class="page-item"><a class="page-link"
                            th:href="${patientPages.number < patientPages.totalPages-1}? @{/(page=${patientPages.number+1 },size=${patientPages.size})}:''">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            th:href=" @{/(page=${patientPages.totalPages -1},size=${patientPages.size})}">&raquo;</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        Are you sure you want to delete this patient ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="" data-method="delete"><button type="button" class="btn btn-sm btn-danger">Delete
                                it</button></a>
                    </div>
                </div>
            </div>
        </div>

       
    </th:block>
   
    <th:block layout:fragment="page-script">
        <script type="text/javascript" th:src="@{/js/index.js}"></script>
    </th:block>

</body>

</html>