<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{default.html}">

<head>
    <title>index</title>
</head>

<body>


    <th:block layout:fragment="content">

        <div class="col-8 d-flex justify-content-center align-items-baseline">

            <div class="alert alert-info d-flex" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>

                <div class="ms-3">
                    To create a new patient, click on right button "Create". To display informations of a
                    patient, you have
                    just to click on his row.
                </div>
            </div>

            <div class="ms-auto p-2 ">
                <button id="btn-creation-patient" type="button" class=" btn btn-primary "
                    onclick="toggleCreatePatient()">Create</button>
            </div>
        </div>

        <div id="form-creation-patient" class="col-8" style="display: none;">
            <form th:action="@{/patient}" method="post" th:object="${patientToCreate}">
                <fieldset class="p-3 shadow mb-5 mt-3 bg-white rounded">
                    <div class="row">
                        <legend>Personal Informations </legend>
                    </div>
                    <div class="row g-3">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" th:field="*{lastName}">
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" th:field="*{firstName}">
                        </div>
                        <div class="col-xl-3 col-lg-8 col-md-8 mb-3">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" th:field="*{dateOfBirth}">
                        </div>
                        <div class="col-xl-1 col-lg-4 col-md-4 mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <select class="form-select" th:field="*{genre}">
                                <option selected th:value="M" th:text="M"></option>
                                <option th:value="F" th:text="F"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-xl-8 col-md-8 col-sm-12 col-xsm-12 mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" th:field="*{address}">
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 mb-3">
                            <label for="phoneNumber" class="form-label">phoneNumber</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <button type="submit" class="col-1 col-md-2 col-sm-3 btn btn-primary"
                            onclick="toggleCreatePatient()">Update</button>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-8 table-responsive">
            <table id="patient-table" class="table table-sm table-hover ">
                <!-- TODO pagination for table-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>DateOfBirth</th>
                        <th>Genre</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th class="text-end pe-3">Update/Delete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="patient : ${patients}" style="cursor:pointer;" th:patientId="${patient.id}"
                        onclick="rowClicked(this.getAttribute('patientId'))">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.dateOfBirth}"></td>
                        <td th:text="${patient.genre}"></td>
                        <td th:text="${patient.address}?:'-'"></td>
                        <td th:text="${patient.phoneNumber}?:'-'"></td>
                        <td class="text-end">
                            <div class="d-flex flewx-nowrap justify-content-end m-1">
                                <button type="button" class="btn btn-sm btn-outline-success me-3">Update</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block layout:fragment="other-script">
        <script th:inline="javascript">
            var errorMessage =/*[[${errorMessage}]]*/ '';
            var successMessage =/*[[${successMessage}]]*/ '';
         
        </script>
    </th:block>

</body>

</html>