<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{default.html}">

<head>
    <title>Patient Record</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="col-8 ">
            
            <div class="d-flex inline-flex align-items-baseline">
            
                <div class="alert alert-info d-flex" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <div class="ms-3">
                        You can edit informations by clicking the blue pencil displayed on right on each fielset.
                    </div>
                </div>
            
                <div class="ms-auto">
                    <a th:href="@{/}"><button id="btn-return-index" type="button" class="btn btn-primary">Return</button></a>
                </div>
            </div>
            
            <form id="form-update-patient" th:object="${patient}" th:action="@{/patient/}+*{id}" method="post">

                <fieldset class="pt-1 px-3 shadow mt-3 bg-white rounded-4 ">
                    
                    <div class="d-flex inline-flex align-items-baseline mb-3">
                        <legend class="text-primary fs-5 mb-3"><ins>Personal Informations:</ins></legend>
                        <i class="bi bi-pencil-square text-primary" style="font-size: 2rem; cursor:pointer;"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            data-bs-title="Click to update personal information of patient."
                            onclick="enablePersonalInformation()"></i>
                        <i class="bi bi-x-square text-primary" style="font-size: 2rem; cursor:pointer;display:none;"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            data-bs-title="Undo patient edit." onclick="disablePersonalInformation()"> </i>
                    </div>
                    
                    <div class="row g-3">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" th:field="*{lastName}"
                                style="background-color: white;"
                                th:classappend="${#maps.containsKey(fieldsOnError,'lastName')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'lastName')} "
                                    th:text="${fieldsOnError['lastName']}" class="field-error"></li>
                            </ul>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" th:field="*{firstName}"
                                style="background-color: white;"
                                th:classappend="${#maps.containsKey(fieldsOnError,'firstName')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'firstName')} "
                                    th:text="${fieldsOnError['firstName']}" class="field-error"></li>
                            </ul>

                        </div>
                        <div class="col-xl-3 col-lg-8 col-md-8 mb-3">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input id="dateOfBirth" type="date" class="form-control" th:field="*{dateOfBirth}"
                                style="background-color: white;"
                                th:classappend="${#maps.containsKey(fieldsOnError,'dateOfBirth')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'dateOfBirth')} "
                                    th:text="${fieldsOnError['dateOfBirth']}" class="field-error"></li>
                            </ul>
                        </div>
                        <div class="col-xl-1 col-lg-4 col-md-4 mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <select class="form-select" id="genre" style="background-color: white;" th:field="*{genre}"
                                th:classappend="${#maps.containsKey(fieldsOnError,'genre')}?'is-invalid':''">
                                <option selected hidden th:value="*{genre}" th:text="*{genre}"></option>
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'genre')} "
                                    th:text="${fieldsOnError['genre']}" class="field-error"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-xl-8 col-md-8 col-sm-12 col-xsm-12 mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="address"
                                th:value="*{address != ''}?*{address}:'-- no informations --'" th:field="*{address}"
                                style="background-color: white;"
                                th:classappend="${#maps.containsKey(fieldsOnError,'address')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'address')} "
                                    th:text="${fieldsOnError['address']}" class="field-error"></li>
                            </ul>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 mb-3">
                            <label for="phoneNumber" class="form-label">phoneNumber</label>
                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                th:value="*{phoneNumber != ''}?*{phoneNumber}:'-- no informations --'"
                                th:field="*{phoneNumber}" style="background-color: white;"
                                th:classappend="${#maps.containsKey(fieldsOnError,'phoneNumber')}?'is-invalid':''">
                            <ul>
                                <li th:if="${#maps.containsKey(fieldsOnError,'phoneNumber')} "
                                    th:text="${fieldsOnError['phoneNumber']}" class="field-error"></li>
                            </ul>
                        </div>
                    </div>
                    <div id="div-submit-btn" class="row p-3 justify-content-center">
                        <button id="submit-personal-information-btn" class="col-xl-2 col-sm-3 btn btn-primary"
                            type="submit">Update</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </th:block>

    <th:block layout:fragment="page-script">
        <script type="text/javascript" th:src="@{/js/patient-record.js}"></script>
    </th:block>
</body>

</html>