<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{default.html}">

<head>
    <title>Patient Record</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="col-8 justify-content-center align-items-baseline">

            <form id="form-update-patient"  th:object="${patient}" th:action="@{/patient/}+${patient.id}" method="post">
                
                <fieldset  class="  p-3 shadow m-5 bg-white rounded">
                    <div class="row">
                        <legend>Personal Informations </legend>
                    </div>
                    <div class="row g-3">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" name="lastame" id="lastname"
                                th:value="${patient.lastName}" th:field="${patient.lastName}"
                                style="background-color: white;">
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" name="firstName" id="firstname"
                                th:value="${patient.firstName}" th:field="${patient.firstName}"
                                style="background-color: white;">
                        </div>
                        <div class="col-xl-3 col-lg-8 col-md-8 mb-3">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" disabled class="form-control" name="dateOfBirth" id="dateOfBirth"
                                th:value="${patient.dateOfBirth}" th:field="${patient.dateOfBirth}"
                                style="background-color: white;">
                        </div>
                        <div class="col-xl-1 col-lg-4 col-md-4 mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <select class="form-select" id="genre" style="background-color: white;">
                                <option selected hidden th:value="${patient.genre}" th:field="${patient.genre}"
                                    th:text="${patient.genre}"></option>
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-xl-8 col-md-8 col-sm-12 col-xsm-12 mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" disabled class="form-control" name="address" id="address"
                                th:value="${patient.address != ''}?${patient.address}:'-- no informations --'"
                                th:field="${patient.address}" style="background-color: white;">
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 mb-3">
                            <label for="phoneNumber" class="form-label">phoneNumber</label>
                            <input type="text" disabled class="form-control" name="phoneNumber" id="phoneNumber"
                                th:value="${patient.phoneNumber != ''}?${patient.phoneNumber}:'-- no informations --'"
                                th:field="${patient.phoneNumber}"
                                style="background-color: white;">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <button class="col-xl-2 col-sm-3 btn btn-primary" type="submit">Update</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </th:block>
</body>

</html>